mat-toolbar{
  justify-content: space-between;
}
.mat-button:hover{
  background-color: #6587DC;
}
.content{
  border: 1px solid red;
  padding: 10px;
}
.profile-image-toolbar{
  border-radius: 100%;
  margin-right: 8px;
}
.expand-icon{
  position: absolute;
  margin-top: 3px;
}

.toolbar{
  margin-right: 15px;

}


